# Ignore node_modules folder
node_modules/

# Ignore all log files
*.log

# Ignore WordPress config file
wp-config.php

# Ignore all compiled CSS files
*.css

# Ignore all images in a specific folder
images/
